html {
	font-family: Verdana, sans-serif;
	background: url("../img/style1-background.png") no-repeat;;
	background-size: 100% 1000%;
}
header {
	background-color: #00008B;
}
.headerLogo {
	vertical-align: middle;
	padding: 0.5% 1% 0.5% 1%;	
	
}
.headerContent {
	vertical-align: middle;
	font-weight: bold;
	font-size: 1.7em;
	color: #FFFFFF;
}
.headerButton {
	float: right;
	margin: 1% 1% 1% 1%;
	font-weight: bold;
	color: #FFFFFF;
	border: hidden;
	border-radius: 0.5em;
	background-color:  #FFA500;
	padding: 0.5% 0.5% 0.5% 0.5%;
}
section {
	color: #FFFFFF;
}
footer {
	text-align: center;
	color: #FFFFFF;
}