html {
	font-family: Verdana, sans-serif;
	background: url("../img/style1-background.png") no-repeat;;
	background-size: 100% 1000%;
}
header {
	background-color: #00008B;
}
.headerLogo {
	vertical-align: middle;
	padding: 0.5% 1% 0.5% 1%;	
	
}
.headerContent {
	vertical-align: middle;
	font-weight: bold;
	font-size: 1.7em;
	color: #FFFFFF;
}
.headerButton {
	float: right;
	margin: 1% 1% 1% 1%;
	font-weight: bold;
	color: #FFFFFF;
	border: hidden;
	border-radius: 0.5em;
	background-color:  #FFA500;
	padding: 0.5em 0.5em 0.5em 0.5em;
	float: right;


}
section {
	color: #FFFFFF;
}
footer {
	text-align: center;
	color: #FFFFFF;
}


.player_name_class {
	font-size: 0.2 em;
	font-weight: bold;
}

.button {
	border: none;
	border-radius:5px;	
}

.answer_button {
	background-color: #B8DEF0;
	padding: 1.5% 0%;
	width: 100%;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 80%;

}

#player_1_score {
	float: left;	
}

#player_2_score {
	float: right;	
}

#question_category {
	text-align: center;	
}

#question {
	text-align:center;	
}

#answers_section {
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	width: 100%;
}

.timer_section {
	float: left;
	
}

#next {
	background-color: #0AC303;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #047F00;
	padding: 0.1em 2em; 

	float: right;	
}
