html {
	font-family: sans-serif;
	background: url("../img/style1-background.png") no-repeat;;
	background-size: 100% 1000%;
}

h2 {
	font-weight: normal;
	font-size: 1em;	
}

p {
	font-size: 0.9em;	
}

header {
	background-color: #033058;
}
.headerLogo {
	vertical-align: middle;
	margin: 0.3em 0.5em 0.3em 1em;		
	
}
.headerContent {
	vertical-align: middle;
	font-weight: bold;
	font-size: 1.7em;
	color: #FFFFFF;
}
.headerButton {
	float: right;
	margin: 1% 1% 1% 1%;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #c37700;
	border-radius: 0.5em;
	background-color:  #f29400;
	padding: 0.3em 1.8em 0.3em 1.8em;


}
section {
	color: #FFFFFF;
}
footer {
	text-align: center;
	font-size: 0.9em;
	color: #FFFFFF;
}


.player_name_class {
	font-size: 0.2 em;
	font-weight: bold;
}

.button {
	border: none;
	border-radius:0.5em;	
}

.answer_button {
	background-color: #b9d6f0;
	width: 49%;
	padding: 1em 0em 1em;
	

}

.a_button_left {
	margin: 0.2em 0.4% 0.2em 0;
}

.a_button_right {
	margin: 0.2em 0 0.2em 0.4%;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 80%;

}

#player_1_score {
	float: left;
		
}

#player_2_score {
	float: right;	
}

#question_category {
	text-align: center;	
}

#question {
	text-align:center;	
}

#answers_section {
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 2%;
	text-align: center;

}

#timer_section {
	font-size: 0.9em;
	width: 49.5%;	
}

#timer_bar {
		width: 100%;
}


#next {
	background-color: #36d344;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #116d01;
	padding: 0.2em 1em; 
	float: right;	
}

#button_next_text {
	margin: 0 1.2em;
	font-size: 1.2em;
	vertical-align: middle;	
}

/* put the white arrow to the right side */
#image_next {
	float: right;
	
}


.timer_section {
	float: left;
}

/* when the width is less or equal to 32em the following code will
be executed */
@media screen and (max-width: 32em) {

	.headerButton {
		padding: 0.3em 0.2em;	
	}

	.answer_button {
		width: 100%;	
	}
	
	.a_button_left {
		margin: 0.2em 0 0.2em 0;	
	}
	
	.a_button_right {
		margin: 0.2em 0 0.2em 0;	
	}
	
	#next {
		width: 100%;
		margin-bottom: 1em;
	}
	
	#timer_section {
		width: 100%;	
	}
	

}

